{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>User profiles</title>
</head>
<body>
    <div class="content">
        <h1>Профиль пользователя</h1>
        <div class="profile__panel">
            <div class="profile__data">
                <div class="profile__row">Фамилия: <span>{{ctx_user.last_name|default_if_none:""}}</span></div>
                <div class="profile__row">Имя: <span>{{ctx_user.first_name|default_if_none:""}}</span></div>
                <div class="profile__row">Отчество: <span>{{ctx_user.middle_name|default_if_none:""}}</span></div>
                <div class="profile__row">Активный пользователь: <span>{{ctx_user.is_active|yesno:"да, нет"}}</span></div>
                <div class="profile__row">Является администратором: <span>{{ctx_user.is_superuser|yesno:"да, нет"}}</span></div>
            </div>
            <div class="profile__photo">
                <img href="#">
            </div>
        </div>
        <div class="profile__buttons">
            <a class="button" href="/auths/edit/">Изменить</a>
            <a class="button" href="/auths/change-password/">Сменить пароль</a>
            <a class="button" href="/">Закрыть</a>
        </div>
   </div> 
</body>
</html>