* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 18pt;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}
form {
    padding: 10px;
    margin: 10px;
}
input, select, fieldset {
    font-size: 14pt;
    padding: 5px;
    margin-bottom: 10px;
}